# Self-harm & interpersonal

In [5]:
import pandas as pd
import csv

In [6]:
#create a dataframe from Self-harm sheet

filepath = "Data Files/Cleaned Files/Copy of mort_cleaned.xlsx"

xls = pd.ExcelFile(filepath)

df_Self_harm_interpersonal   = pd.read_excel(xls,'Self-harm & interpersonal ')

In [8]:
filepath2 = "Data Files/Cleaned Files/NIH Data Alcohol Consumption.csv"
filepath3 = "Data Files/Cleaned Files/NIH Data FIPS.csv"
filepath4 = "Data Files/Cleaned Files/NIH Beverage Codes.csv"

df_nih = pd.read_csv(filepath2)
df_beverage_codes = pd.read_csv(filepath4)
df_fips_codes = pd.read_csv(filepath3)

In [9]:
df_nih.head()

,Year,FIPS,Type of beverage,Gallons of beverage,Gallons of ethanol,Population (14 and older),Gallons of ethanol per capita age 14 and older,Decile for per capita consumption age 14 and older,Population (21 and older),Gallons of ethanol per capita age 21 and older,Decile for per capita consumption age 21 and older,Type of data source,Time-varying alcohol by volume (ABV),Gallons of ethanol derived from time-varying ABV
0,1970,1,1,3863000,1738350,2499000,6956,9.0,2020000,8606,9.0,.,.,.
1,1970,1,2,1412000,225920,2499000,904,9.0,2020000,1118,9.0,.,.,.
2,1970,1,3,33098000,1489410,2499000,5960,10.0,2020000,7373,10.0,.,.,.
3,1970,1,4,.,3453680,2499000,13820,10.0,2020000,17097,10.0,.,.,.
4,1970,2,1,945000,425250,205000,20744,1.0,165000,25773,1.0,.,.,.

In [10]:
df_nih_merged = pd.merge(df_nih, df_beverage_codes, how="left", left_on = 'Type of beverage', right_on = 'Beverage ID')
df_nih_merged = pd.merge(df_nih_merged, df_fips_codes, how="left", left_on = 'FIPS', right_on = 'FIPS')
df_nih_merged.head()

,Year,FIPS,Type of beverage,Gallons of beverage,Gallons of ethanol,Population (14 and older),Gallons of ethanol per capita age 14 and older,Decile for per capita consumption age 14 and older,Population (21 and older),Gallons of ethanol per capita age 21 and older,Decile for per capita consumption age 21 and older,Type of data source,Time-varying alcohol by volume (ABV),Gallons of ethanol derived from time-varying ABV,Beverage ID,Beverage Type,State
0,1970,1,1,3863000,1738350,2499000,6956,9.0,2020000,8606,9.0,.,.,.,1,Spirits,Alabama
1,1970,1,2,1412000,225920,2499000,904,9.0,2020000,1118,9.0,.,.,.,2,Wine,Alabama
2,1970,1,3,33098000,1489410,2499000,5960,10.0,2020000,7373,10.0,.,.,.,3,Beer,Alabama
3,1970,1,4,.,3453680,2499000,13820,10.0,2020000,17097,10.0,.,.,.,4,All Beverages,Alabama
4,1970,2,1,945000,425250,205000,20744,1.0,165000,25773,1.0,.,.,.,1,Spirits,Alaska

In [11]:
# Create subsets for year

nih_1980 = df_nih_merged.loc[(df_nih_merged['Year'] == 1980) & (df_nih_merged['FIPS'] < 60)]
nih_1985 = df_nih_merged.loc[(df_nih_merged['Year'] == 1985) & (df_nih_merged['FIPS'] < 60)]
nih_1990 = df_nih_merged.loc[(df_nih_merged['Year'] == 1990) & (df_nih_merged['FIPS'] < 60)]
nih_1995 = df_nih_merged.loc[(df_nih_merged['Year'] == 1995) & (df_nih_merged['FIPS'] < 60)]
nih_2000 = df_nih_merged.loc[(df_nih_merged['Year'] == 2000) & (df_nih_merged['FIPS'] < 60)]
nih_2005 = df_nih_merged.loc[(df_nih_merged['Year'] == 2005) & (df_nih_merged['FIPS'] < 60)]
nih_2010 = df_nih_merged.loc[(df_nih_merged['Year'] == 2010) & (df_nih_merged['FIPS'] < 60)]
nih_2014 = df_nih_merged.loc[(df_nih_merged['Year'] == 2014) & (df_nih_merged['FIPS'] < 60)]

In [12]:
# Get States Data from Self Harm DataFrame
df_self_harm_interpersonal = df_Self_harm_interpersonal.loc[df_Self_harm_interpersonal['FIPS'] < 60]

df_self_harm_interpersonal .head()

,Location,FIPS,"Mortality Rate, 1980*","Mortality Rate, 1985*","Mortality Rate, 1990*","Mortality Rate, 1995*","Mortality Rate, 2000*","Mortality Rate, 2005*","Mortality Rate, 2010*","Mortality Rate, 2014*","% Change in Mortality Rate, 1980-2014"
1,Alabama,1.0,"30.16 (29.21, 31.08)","28.20 (27.59, 28.85)","28.77 (28.18, 29.39)","28.32 (27.65, 28.98)","25.34 (24.77, 25.93)","26.49 (25.93, 27.10)","26.09 (25.48, 26.71)","26.53 (25.71, 27.30)","-12.03 (-15.95, -8.08)"
69,Alaska,2.0,"24.67 (23.31, 25.95)","25.03 (23.99, 26.05)","26.44 (25.50, 27.43)","28.49 (27.49, 29.50)","26.70 (25.79, 27.67)","28.59 (27.52, 29.60)","29.85 (28.78, 31.03)","31.54 (30.30, 32.89)","27.86 (19.73, 37.02)"
99,Arizona,4.0,"30.24 (29.20, 31.30)","28.48 (27.80, 29.20)","29.36 (28.73, 30.09)","30.19 (29.51, 30.90)","26.15 (25.58, 26.77)","28.37 (27.80, 28.96)","26.32 (25.70, 26.95)","25.93 (25.17, 26.70)","-14.25 (-18.00, -10.08)"
115,Arkansas,5.0,"27.56 (26.66, 28.46)","26.74 (26.16, 27.36)","27.25 (26.68, 27.88)","27.36 (26.73, 28.01)","24.47 (23.92, 25.06)","25.86 (25.30, 26.42)","26.22 (25.60, 26.89)","27.51 (26.69, 28.33)","-0.19 (-4.93, 4.43)"
191,California,6.0,"29.72 (28.89, 30.52)","26.53 (26.06, 27.05)","25.07 (24.67, 25.53)","23.54 (23.11, 23.97)","18.25 (17.91, 18.60)","18.36 (18.01, 18.69)","16.73 (16.40, 17.07)","16.12 (15.69, 16.56)","-45.75 (-47.91, -43.46)"

In [13]:
# Create new dataframe for 1980 substance abuse
nih_1980_merged_harm = pd.merge(nih_1980, df_self_harm_interpersonal, how = 'left', left_on = 'State', right_on = 'Location' )

In [14]:
# Grab only needed columns
nih_1980_merged_harm = nih_1980_merged_harm[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1980*','Location']]
nih_1980_merged_harm.head()

,Year,FIPS_x,Type of beverage,Gallons of ethanol per capita age 21 and older,"Mortality Rate, 1980*",Location
0,1980,1,1,8959,"30.16 (29.21, 31.08)",Alabama
1,1980,1,2,1960,"30.16 (29.21, 31.08)",Alabama
2,1980,1,3,11504,"30.16 (29.21, 31.08)",Alabama
3,1980,1,4,22423,"30.16 (29.21, 31.08)",Alabama
4,1980,2,1,20345,"24.67 (23.31, 25.95)",Alaska

In [20]:
# Create a subset for each year for Self-harm & interpersonal type and grab only needed columns
nih_1985_merged_harm = pd.merge(nih_1985, df_self_harm_interpersonal, how = 'left', left_on = 'State', right_on = 'Location' )
nih_1985_merged_harm = nih_1985_merged_harm[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1985*','Location']]

nih_1990_merged_harm = pd.merge(nih_1990, df_self_harm_interpersonal, how = 'left', left_on = 'State', right_on = 'Location' )
nih_1990_merged_harm = nih_1990_merged_harm[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1990*','Location']]

nih_1995_merged_harm = pd.merge(nih_1995, df_self_harm_interpersonal, how = 'left', left_on = 'State', right_on = 'Location' )
nih_1995_merged_harm = nih_1995_merged_harm[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1995*','Location']]

nih_2000_merged_harm = pd.merge(nih_2000, df_self_harm_interpersonal, how = 'left', left_on = 'State', right_on = 'Location' )
nih_2000_merged_harm = nih_2000_merged_harm[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 2000*','Location']]

nih_2005_merged_harm = pd.merge(nih_2005, df_self_harm_interpersonal, how = 'left', left_on = 'State', right_on = 'Location' )
nih_2005_merged_harm = nih_2005_merged_harm[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 2005*','Location']]

nih_2010_merged_harm = pd.merge(nih_2010, df_self_harm_interpersonal, how = 'left', left_on = 'State', right_on = 'Location' )
nih_2010_merged_harm = nih_2010_merged_harm[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 2010*','Location']]

nih_2014_merged_harm = pd.merge(nih_2014, df_self_harm_interpersonal, how = 'left', left_on = 'State', right_on = 'Location' )
nih_2014_merged_harm = nih_2014_merged_harm[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 2014*','Location']]

nih_2014_merged_harm.head()

,Year,FIPS_x,Type of beverage,Gallons of ethanol per capita age 21 and older,"Mortality Rate, 2014*",Location
0,2014,1,1,6945,"26.53 (25.71, 27.30)",Alabama
1,2014,1,2,2861,"26.53 (25.71, 27.30)",Alabama
2,2014,1,3,12693,"26.53 (25.71, 27.30)",Alabama
3,2014,1,4,22499,"26.53 (25.71, 27.30)",Alabama
4,2014,2,1,13197,"31.54 (30.30, 32.89)",Alaska

In [23]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of 

mean = df_self_harm_interpersonal.groupby('Location')['Mortality Rate, 2014*'].mean()

DataError: No numeric types to aggregate