## Intial data stab...

In [1]:
import pandas as pd
import csv

In [2]:
#create a dataframe from each excel sheet.

filepath = "Data Files/Cleaned Files/Copy of mort_cleaned.xlsx"

xls = pd.ExcelFile(filepath)
df_HIV_AIDS_tuberculosis = pd.read_excel(xls, 'HIV-AIDS & tuberculosis')
df_Diarrhea_lower_respiratory = pd.read_excel(xls,'Diarrhea, lower respiratory')
df_Neglected_tropical_diseases = pd.read_excel(xls,'Neglected tropical diseases')
df_Maternal_disorders = pd.read_excel(xls,'Maternal disorders')
df_Neonatal_disorders = pd.read_excel(xls,'Neonatal disorders')
df_Nutritional_deficiencies = pd.read_excel(xls, 'Nutritional deficiencies')
df_Other_communicable_maternal  = pd.read_excel(xls,'Other communicable_maternal')
df_Neoplasms = pd.read_excel(xls,'Neoplasms')
df_Cardiovascular_diseases = pd.read_excel(xls,'Cardiovascular diseases')
df_Chronic_respiratory_diseases = pd.read_excel(xls,'Chronic respiratory diseases')
df_Cirrhosis_other_chronic  = pd.read_excel(xls,'Cirrhosis & other chronic ')
df_Digestive_diseases = pd.read_excel(xls, 'Digestive diseases')
df_Neurological_disorders  = pd.read_excel(xls,'Neurological disorders')
df_Mental_substance_use  = pd.read_excel(xls,'Mental & substance use ')
df_Diabetes_urogenital_blood = pd.read_excel(xls,'Diabetes_urogenital_blood')
df_Musculoskeletal_disorders = pd.read_excel(xls,'Musculoskeletal disorders')
df_Other_non_communicable   = pd.read_excel(xls,'Other non-communicable ')
df_Transport_injuries = pd.read_excel(xls, 'Transport injuries')
df_Unintentional_injuries  = pd.read_excel(xls,'Unintentional injuries')
df_Self_harm_interpersonal   = pd.read_excel(xls,'Self-harm & interpersonal ')
df_Forces_of_nature_war_legal  = pd.read_excel(xls,'Forces of nature, war, & legal ')






df_Forces_of_nature_war_legal.head(20)

,Location,FIPS,"Mortality Rate, 1980*","Mortality Rate, 1985*","Mortality Rate, 1990*","Mortality Rate, 1995*","Mortality Rate, 2000*","Mortality Rate, 2005*","Mortality Rate, 2010*","Mortality Rate, 2014*","% Change in Mortality Rate, 1980-2014"
0,United States,NaN,"0.26 (0.14, 0.49)","0.27 (0.15, 0.50)","0.23 (0.13, 0.42)","0.19 (0.11, 0.35)","0.20 (0.11, 0.38)","1.20 (0.37, 2.71)","0.23 (0.13, 0.43)","0.05 (0.02, 0.11)","-79.54 (-90.30, -61.40)"
1,Alabama,1.0,"0.42 (0.21, 0.90)","0.36 (0.19, 0.74)","0.32 (0.17, 0.67)","0.34 (0.18, 0.69)","0.47 (0.25, 0.93)","1.81 (0.42, 4.48)","0.39 (0.19, 0.79)","0.10 (0.04, 0.23)","-76.01 (-89.75, -49.01)"
2,"Autauga County, Alabama",1001.0,"0.30 (0.03, 1.31)","0.32 (0.05, 1.33)","0.27 (0.04, 0.98)","0.25 (0.03, 1.02)","0.23 (0.03, 0.88)","1.43 (0.11, 6.35)","0.31 (0.04, 1.21)","0.08 (0.01, 0.35)","-73.13 (-97.56, 190.32)"
3,"Baldwin County, Alabama",1003.0,"0.30 (0.05, 1.23)","0.29 (0.05, 1.02)","0.25 (0.04, 0.98)","0.18 (0.03, 0.69)","0.19 (0.03, 0.73)","1.07 (0.08, 4.36)","0.20 (0.03, 0.76)","0.05 (0.01, 0.18)","-84.84 (-98.16, 16.75)"
4,"Barbour County, Alabama",1005.0,"0.40 (0.05, 1.54)","0.41 (0.06, 1.59)","0.34 (0.04, 1.32)","0.29 (0.04, 1.20)","0.30 (0.04, 1.14)","1.70 (0.14, 6.78)","0.34 (0.04, 1.30)","0.09 (0.01, 0.44)","-77.34 (-97.78, 106.91)"
5,"Bibb County, Alabama",1007.0,"0.42 (0.06, 1.75)","0.48 (0.06, 1.93)","0.44 (0.05, 1.75)","0.38 (0.05, 1.56)","0.40 (0.05, 1.80)","2.28 (0.16, 9.51)","0.55 (0.07, 2.26)","0.14 (0.01, 0.58)","-66.66 (-97.47, 249.93)"
6,"Blount County, Alabama",1009.0,"0.31 (0.04, 1.27)","0.34 (0.05, 1.32)","0.31 (0.04, 1.32)","0.28 (0.04, 1.13)","0.30 (0.04, 1.14)","1.70 (0.12, 7.73)","0.38 (0.06, 1.32)","0.11 (0.01, 0.51)","-63.29 (-96.57, 261.78)"
7,"Bullock County, Alabama",1011.0,"0.59 (0.08, 2.07)","0.62 (0.09, 2.47)","0.55 (0.07, 2.16)","0.47 (0.07, 1.79)","0.49 (0.06, 1.90)","2.59 (0.18, 9.74)","0.55 (0.07, 2.45)","0.14 (0.01, 0.60)","-76.13 (-97.77, 103.53)"
8,"Butler County, Alabama",1013.0,"0.47 (0.06, 1.79)","0.44 (0.06, 1.53)","0.40 (0.05, 1.64)","0.36 (0.05, 1.38)","0.36 (0.05, 1.37)","2.03 (0.16, 8.54)","0.47 (0.06, 1.97)","0.13 (0.01, 0.60)","-72.99 (-98.15, 161.46)"
9,"Calhoun County, Alabama",1015.0,"0.34 (0.05, 1.12)","0.48 (0.09, 1.57)","0.34 (0.06, 1.21)","0.31 (0.06, 1.08)","0.72 (0.11, 2.62)","3.50 (0.40, 11.43)","0.48 (0.08, 1.70)","0.21 (0.03, 0.78)","-37.82 (-92.25, 366.50)"
10,"Chambers County, Alabama",1017.0,"0.31 (0.04, 1.21)","0.32 (0.04, 1.25)","0.28 (0.04, 1.17)","0.39 (0.05, 1.58)","0.29 (0.03, 1.28)","1.58 (0.12, 6.73)","0.37 (0.04, 1.46)","0.08 (0.01, 0.40)","-73.37 (-97.98, 155.38)"
11,"Cherokee County, Alabama",1019.0,"0.55 (0.08, 2.30)","0.64 (0.09, 2.44)","0.58 (0.08, 2.31)","0.56 (0.08, 2.06)","0.66 (0.09, 2.15)","3.08 (0.30, 11.47)","0.84 (0.12, 3.44)","0.21 (0.02, 0.86)","-61.50 (-95.55, 214.17)"
12,"Chilton County, Alabama",1021.0,"0.34 (0.04, 1.52)","0.36 (0.04, 1.56)","0.29 (0.04, 1.19)","0.26 (0.03, 1.26)","0.85 (0.08, 3.92)","1.58 (0.11, 7.37)","0.34 (0.04, 1.55)","0.09 (0.01, 0.43)","-71.80 (-97.78, 231.03)"
13,"Choctaw County, Alabama",1023.0,"0.55 (0.06, 2.02)","0.58 (0.08, 2.58)","0.46 (0.06, 1.67)","0.40 (0.05, 1.63)","0.42 (0.06, 1.50)","2.33 (0.17, 9.65)","0.60 (0.07, 2.71)","0.15 (0.01, 0.71)","-72.04 (-97.85, 202.43)"
14,"Clarke County, Alabama",1025.0,"0.41 (0.06, 1.72)","0.48 (0.05, 1.84)","0.39 (0.06, 1.52)","0.33 (0.04, 1.44)","0.34 (0.05, 1.37)","2.03 (0.15, 9.14)","0.41 (0.05, 1.62)","0.12 (0.01, 0.63)","-71.09 (-97.93, 140.41)"
15,"Clay County, Alabama",1027.0,"1.53 (0.14, 6.85)","0.48 (0.06, 2.09)","1.44 (0.11, 7.33)","0.35 (0.04, 1.64)","0.40 (0.04, 1.76)","2.19 (0.15, 9.64)","0.52 (0.05, 2.36)","0.14 (0.01, 0.72)","-91.10 (-99.44, 11.66)"
16,"Cleburne County, Alabama",1029.0,"0.41 (0.06, 1.54)","0.46 (0.06, 1.87)","0.41 (0.05, 1.64)","0.36 (0.05, 1.55)","0.38 (0.05, 1.46)","2.31 (0.18, 9.83)","0.52 (0.07, 2.24)","0.14 (0.01, 0.63)","-65.87 (-97.21, 235.00)"
17,"Coffee County, Alabama",1031.0,"0.50 (0.08, 2.07)","0.35 (0.05, 1.23)","0.31 (0.04, 1.16)","0.27 (0.04, 1.13)","0.33 (0.04, 1.48)","1.67 (0.14, 6.95)","0.38 (0.05, 1.59)","0.09 (0.01, 0.42)","-81.46 (-97.86, 41.70)"
18,"Colbert County, Alabama",1033.0,"0.32 (0.04, 1.19)","0.32 (0.05, 1.17)","0.33 (0.04, 1.22)","0.29 (0.04, 1.09)","0.31 (0.04, 1.14)","1.76 (0.15, 7.26)","0.42 (0.05, 1.55)","0.11 (0.01, 0.51)","-66.39 (-96.73, 174.07)"
19,"Conecuh County, Alabama",1035.0,"0.55 (0.08, 2.12)","0.61 (0.08, 2.73)","0.49 (0.06, 1.80)","0.43 (0.06, 1.62)","0.48 (0.05, 1.87)","2.81 (0.19, 12.19)","0.61 (0.07, 2.48)","0.18 (0.01, 0.87)","-67.41 (-97.06, 211.53)"

In [3]:
#mort_df1 = pd.csv_read(filepath)

AttributeError: module 'pandas' has no attribute 'csv_read'

In [25]:
filepath2 = "Data Files/Cleaned Files/NIH Data Alcohol Consumption.csv"
filepath3 = "Data Files/Cleaned Files/NIH Data FIPS.csv"
filepath4 = "Data Files/Cleaned Files/NIH Beverage Codes.csv"

df_nih = pd.read_csv(filepath2)
df_beverage_codes = pd.read_csv(filepath4)
df_fips_codes = pd.read_csv(filepath3)

In [26]:
df_nih.head()

,Year,FIPS,Type of beverage,Gallons of beverage,Gallons of ethanol,Population (14 and older),Gallons of ethanol per capita age 14 and older,Decile for per capita consumption age 14 and older,Population (21 and older),Gallons of ethanol per capita age 21 and older,Decile for per capita consumption age 21 and older,Type of data source,Time-varying alcohol by volume (ABV),Gallons of ethanol derived from time-varying ABV
0,1970,1,1,3863000,1738350,2499000,6956,9.0,2020000,8606,9.0,.,.,.
1,1970,1,2,1412000,225920,2499000,904,9.0,2020000,1118,9.0,.,.,.
2,1970,1,3,33098000,1489410,2499000,5960,10.0,2020000,7373,10.0,.,.,.
3,1970,1,4,.,3453680,2499000,13820,10.0,2020000,17097,10.0,.,.,.
4,1970,2,1,945000,425250,205000,20744,1.0,165000,25773,1.0,.,.,.

In [27]:
df_nih_merged = pd.merge(df_nih, df_beverage_codes, how="left", left_on = 'Type of beverage', right_on = 'Beverage ID')
df_nih_merged = pd.merge(df_nih_merged, df_fips_codes, how="left", left_on = 'FIPS', right_on = 'FIPS')

In [28]:
df_nih_merged.head()

,Year,FIPS,Type of beverage,Gallons of beverage,Gallons of ethanol,Population (14 and older),Gallons of ethanol per capita age 14 and older,Decile for per capita consumption age 14 and older,Population (21 and older),Gallons of ethanol per capita age 21 and older,Decile for per capita consumption age 21 and older,Type of data source,Time-varying alcohol by volume (ABV),Gallons of ethanol derived from time-varying ABV,Beverage ID,Beverage Type,State
0,1970,1,1,3863000,1738350,2499000,6956,9.0,2020000,8606,9.0,.,.,.,1,Spirits,Alabama
1,1970,1,2,1412000,225920,2499000,904,9.0,2020000,1118,9.0,.,.,.,2,Wine,Alabama
2,1970,1,3,33098000,1489410,2499000,5960,10.0,2020000,7373,10.0,.,.,.,3,Beer,Alabama
3,1970,1,4,.,3453680,2499000,13820,10.0,2020000,17097,10.0,.,.,.,4,All Beverages,Alabama
4,1970,2,1,945000,425250,205000,20744,1.0,165000,25773,1.0,.,.,.,1,Spirits,Alaska

In [30]:
# Create subsets for year

nih_1980 = df_nih_merged.loc[df_nih_merged['Year'] == 1980]
nih_1985 = df_nih_merged.loc[df_nih_merged['Year'] == 1985]
nih_1990 = df_nih_merged.loc[df_nih_merged['Year'] == 1990]
nih_1995 = df_nih_merged.loc[df_nih_merged['Year'] == 1995]
nih_2000 = df_nih_merged.loc[df_nih_merged['Year'] == 2000]
nih_2005 = df_nih_merged.loc[df_nih_merged['Year'] == 2005]
nih_2010 = df_nih_merged.loc[df_nih_merged['Year'] == 2010]
nih_2014 = df_nih_merged.loc[df_nih_merged['Year'] == 2014]

In [32]:
df_states_mental_substance_use = df_Mental_substance_use.loc[df_Mental_substance_use['FIPS'] < 60]

In [35]:
df_states_mental_substance_use.head()

,Location,FIPS,"Mortality Rate, 1980*","Mortality Rate, 1985*","Mortality Rate, 1990*","Mortality Rate, 1995*","Mortality Rate, 2000*","Mortality Rate, 2005*","Mortality Rate, 2010*","Mortality Rate, 2014*","% Change in Mortality Rate, 1980-2014"
1,Alabama,1.0,"3.85 (3.53, 4.23)","4.06 (3.78, 4.44)","4.55 (4.29, 4.85)","5.22 (4.91, 5.52)","6.72 (6.39, 7.09)","9.77 (9.33, 10.21)","12.34 (11.76, 12.89)","14.33 (13.53, 15.03)","272.34 (229.73, 311.29)"
69,Alaska,2.0,"12.45 (11.02, 14.16)","10.96 (9.79, 12.37)","12.04 (10.84, 13.42)","12.74 (11.61, 14.05)","16.04 (14.76, 17.52)","20.08 (18.65, 21.58)","20.92 (19.41, 22.55)","21.98 (20.38, 23.71)","76.49 (50.92, 102.50)"
99,Arizona,4.0,"6.80 (6.16, 7.51)","6.98 (6.48, 7.57)","7.87 (7.32, 8.45)","9.56 (9.03, 10.12)","11.83 (11.28, 12.44)","14.66 (14.05, 15.28)","17.72 (17.07, 18.44)","17.17 (16.34, 17.90)","152.36 (122.26, 180.55)"
115,Arkansas,5.0,"2.36 (2.14, 2.61)","2.46 (2.28, 2.70)","3.00 (2.81, 3.23)","3.71 (3.49, 3.97)","4.92 (4.66, 5.20)","7.82 (7.45, 8.21)","10.15 (9.66, 10.71)","10.99 (10.34, 11.62)","366.61 (312.10, 422.14)"
191,California,6.0,"6.48 (6.12, 6.91)","7.64 (7.32, 8.09)","7.51 (7.24, 7.85)","8.32 (8.04, 8.63)","8.78 (8.48, 9.08)","11.39 (11.05, 11.76)","11.72 (11.30, 12.12)","11.35 (10.73, 11.82)","75.26 (58.86, 87.50)"

In [45]:
nih_1980_merged_substance = pd.merge(nih_1980, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )

In [46]:
nih_1980_merged_substance = nih_1980_merged_substance.loc[nih_1980_merged_substance['Location'] == 'New Jersey']

In [47]:
nih_1980_merged_substance = nih_1980_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1980*','Location']]

In [48]:
nih_1980_merged_substance

,Year,FIPS_x,Type of beverage,Gallons of ethanol per capita age 21 and older,"Mortality Rate, 1980*",Location
120,1980,34,1,13350,"4.18 (3.90, 4.56)",New Jersey
121,1980,34,2,5573,"4.18 (3.90, 4.56)",New Jersey
122,1980,34,3,14472,"4.18 (3.90, 4.56)",New Jersey
123,1980,34,4,33396,"4.18 (3.90, 4.56)",New Jersey